* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

img {
  display: block;
  max-width: 100%;
}

/* Css for Timer */

.field {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.field {
  margin: 20px;
}

.timer {
  display: flex;
  justify-content: center;
}

.value {
  background-color: black;
  color: white;
  border-radius: 5px;
  font-size: 30px;
  padding: 5px;
  font-family: 'Courier New', Courier, monospace;
}
